{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-body">
                    <form>
                        <div class="row">
                             <div class="col-md-1">
                                <input value="{{ request.GET.id }}" name="id" placeholder="id" type="text" class="form-control"/>
                            </div>

                            <div class="col-md-3">
                            
                                <select name="type" class="form-control">
                                    <option value="">Select Type</option>
                                    <option  {% if request.GET.type|stringformat:'s' == '1' %}selected{% endif %} value="1"> OPC</option>
                                    <option  {% if request.GET.type|stringformat:'s' == '2' %}selected{% endif %} value="2">PCC </option>

                                </select>
                            </div>
                            <div class="col-md-2">
                           
                                <button class="btn btn-block btn-secondary">Filter</button>
                            </div>
 
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>Purchase List</h5>
                            </div>

                            <div class="col-md-3">
                            <a href="{% url 'dashboard:create_purchase_url' %}">
                                   <button type="button" class="btn btn-primary">
                               Create Purchase
                                </button>
                            </a>

                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body table-responsive">

                        <table id="Purchaseer_list" class="table table-borderless table-striped table-hover">
 
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Cement</th>
                                <th>Details </th>
                                <th>Account</th>
                                <th>Total</th>
                    
                                <th>Remove</th>

                            </tr>
                            {% for cus in purchase %}
                            <tr id="row_{{ cus.id }}">
                                <td>{{ cus.id }} </td>
                                <td>{{ cus.created_at }} </td>
                                <td >{{ cus.get_cement_type_display }}</td>
                                <td>
                                
                                     Quantity -{{ cus.quantity }} <br>
                                 Unit Price - {{ cus.unit_price }} <br>
                                     
            
                                </td>
                                <td >{{ cus.get_balance_sector_display }}</td>
                                <td >{{ cus.sub_total }}</td>
                        
                                <td >
                                <i onclick="remove_sell('{{cus.id}}')" style="color:red; cursor:pointer" class="fa fa-trash"></i>
                               <a href="{% url 'dashboard:update_purchase_url' cus.id %}"> <i style="color:red; cursor:pointer; padding-left: 1em;" class="fa fa-edit"></i> <a>
                            
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Modal -->

{% endblock %}

{% block script %}

<script>
function remove_sell(id_){
    let text;
if (confirm("Are you sure!") == true) {
      var data  ={'id': id_, sector:3}
              $.ajax({
                url: "/remove/",
                data: data,
                type: "GET",
                success: function (data) {

                    $('#row_'+ data.id +'').remove()
            },
                error: function (data) {
            }
        });
} else {
    return
}
}
</script>

{% endblock %}