{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Deposite List</h5>
                                        <form>
                                            <div class="row">
                                                <div class="col-md-8">
                                                
                                                    <input value="{{ request.GET.customer }}" name="customer" placeholder="Name, Phone" type="text" class="form-control"/>
                                                </div>
                    
                                                <div class="col-md-4">
                                                    <button class="btn btn-block btn-secondary">Filter</button>
                                                </div>
                        
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
    
                            <table  class="table table-borderless table-striped table-hover">
     
                                <tr>
                                    
                                    <th>ID</th>
                                    <th>Customer Name </th>
                         
                                    <th>Date </th>
                                    <th>Amount </th>
                                    <th>Remove </th>

                                </tr>
                                {% for ar in deposite %}
                                <tr id="row_{{ ar.id }}">
                                    <td>{{ ar.id}} </td>
                                    <td >{{ ar.customer.name }}</td>
                            
                                    <td >{{ ar.created_at }}</td>
                                    <td >{{ ar.amount }}</td>
                                        <td >
                                <i onclick="remove_sell('{{ar.id}}')" style="color:red; cursor:pointer" class="fa fa-trash"></i>
                               <a href="{% url 'dashboard:update_customer_deposit_url' ar.id %}"> <i style="color:red; cursor:pointer; padding-left: 1em;" class="fa fa-edit"></i> <a>
                        
                                </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>

                </div>
                <div class="col-md-5">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Deposite </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <form method="Post">
                                {% csrf_token %}
                                <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Customer</label>
                                  <div class="col-sm-9">
                                      <select name="customer" id="customer" class=" form-control select2bs4" style="width: 100%;" required> 
                                        <option value="">Select Customer</option>
                                        {% for c in customer %}
                                            <option value="{{ c.id }}"> {{ c.name }}- {{ c.phone_number }}  </option>
                                        {% endfor %}
                
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Amount</label>
                                  <div class="col-sm-9">
                                        <input  min="1" step="1" oninput="validity.valid||(value='');" name="amount" type="number" class="form-control" id="amount" required>
                                  </div>
                                </div>
                                 <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Date</label>
                                  <div class="col-sm-9">
                                        <input id="date" name="date" type="date" class="form-control" required>
                                  </div>
                                </div>
                                 <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Note</label>
                                  <div class="col-sm-9">
                                        <input id="note" name="note" type="text" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <button type="submit" class="pull-right btn btn-primary">Deposite</button>
                                  </div>
                              </form>
                        </div>
                </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    document.getElementById('date').valueAsDate = new Date()

        $(".select2bs4").select2({
            theme: "bootstrap4",
        });

function remove_sell(id_){
    let text;
if (confirm("Are you sure!") == true) {
      var data  ={'id': id_, sector:2}
              $.ajax({
                url: "/remove/",
                data: data,
                type: "GET",
                success: function (data) {

                    $('#row_'+ data.id +'').remove()
            },
                error: function (data) {
            }
        });
} else {
    return
}
}
</script>
{% endblock %}