{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Commission List</h5>
                                        <form>
                                            <div class="row">
                                                <div class="col-md-8">
                                                
                                                    <input value="{{ request.GET.area }}" name="area" placeholder="Name" type="text" class="form-control"/>
                                                </div>
                    
                                                <div class="col-md-4">
                                                    <button class="btn btn-block btn-secondary">Filter</button>
                                                </div>
                        
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
    
                            <table  class="table table-borderless table-striped table-hover">
     
                                <tr>
                                    
                                    <th>ID</th>
                                    <th>Date </th>
                                    <th>Unit </th>
                                    <th>Total </th>
                                    <th>Remove </th>

                                </tr>
                                {% for ar in commission %}
                                <tr id="row_{{ ar.id }}">
                                    <td>{{ ar.id }} </td>
                            
                                    <td>{{ ar.date }} </td>
                                    <td >{{ ar.unit_amount }}</td>
                                    <td >{{ ar.amount }}</td>
                                     <td >
                                <i onclick="remove_sell('{{ar.id}}')" style="color:red; cursor:pointer" class="fa fa-trash"></i>
                        
                                </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>

                </div>
                <div class="col-md-5">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Create Commission</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <form method="Post">
                                {% csrf_token %}
                                 <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-4 col-form-label">Date</label>
                                  <div class="col-sm-8">
                                    <input type="date" class="form-control" id="date" name="date" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-4 col-form-label">Unit Commission</label>
                                  <div class="col-sm-8">
                                    <input type="number" class="form-control" id="unit" name="unit" required>
                                  </div>
                                </div>
                                 <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-4 col-form-label">Total Amount</label>
                                  <div class="col-sm-8">
                                    <input required type="number" min="1" step="1" oninput="validity.valid||(value='');" class="form-control" id="total" name="total">
                                  </div>
                                </div>
                                     <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-4 col-form-label">Note</label>
                                  <div class="col-sm-8">
                                    <input required type="text" class="form-control" id="note" name="note">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <button type="submit" class="pull-right btn btn-primary">Create</button>
                                  </div>
                              </form>
                        </div>
                </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
function remove_sell(id_){
    let text;
if (confirm("Are you sure!") == true) {
      var data  ={'id': id_, sector:5}
              $.ajax({
                url: "/remove/",
                data: data,
                type: "GET",
                success: function (data) {

                    $('#row_'+ data.id +'').remove()
            },
                error: function (data) {
            }
        });
} else {
    return
}
}
</script>
{% endblock %}