{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <form id="create_course" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Sell Details
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <small>
                                        <label>Customer <small style="color: red">*</small> </label>
                                    </small>
                                    <select name="customer" id="customer" class=" form-control select2bs4" style="width: 100%;" required> 
                                        <option value="">Select Customer</option>
                                        {% for c in customer %}
                                            <option value="{{ c.id }}"> {{ c.name }}- {{ c.phone_number }}  </option>
                                        {% endfor %}
                
                                    </select>
                                </div>
                                <div class="form-group"> 
                                    <small>
                                        <label>Quantity <small style="color: red">*</small> </label>
                                        <input oninput="update_total()"  min="1" step="1" oninput="validity.valid||(value='');" name="quantity" type="number" class="form-control" id="quantity" required>

                                    </small>

                                </div>

                                <div class="form-group">
                                    <small>
                                        <label> Total Amount  <small style="color: red">*</small> </label>
                                    </small>
                                        <input  min="1" step="1" oninput="validity.valid||(value='');" name="total" type="number" class="form-control" id="total" required>

                                </div>
                                    <div class="form-group">
                                    <small>
                                        <label>Date  <small style="color: red">*</small> </label>
                                    </small>
                                        <input id="date" name="date" type="date" class="form-control" required>

                                </div>
    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <small>
                                        <label>Cement Type <small style="color: red">*</small> </label>
                                    </small>
                                    <select name="type" id="type" class=" form-control select2bs4" style="width: 100%;" required> 
                                        <option  value="1">OPC</option>
                                        <option selected value="2">PCC</option>


                                    </select>
                                </div>

                                <div class="form-group">
                                    <small>
                                        <label>Unit Price <small style="color: red">*</small> </label>
                                    </small>
                                        <input oninput="update_total()"  name="unit_price" type="float" class="form-control" id="unit_price" required>

                                </div>

                                <div class="form-group">
                                    <small>
                                        <label> Paid Amount  <small style="color: red">*</small> </label>
                                    </small>
                                        <input  min="0" step="1" oninput="validity.valid||(value='');" name="paid" type="number" class="form-control" id="paid" required>

                                </div>
                            </div>
                        </div>
      
                <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pen-square"></i> Create </button>
                </div>
               
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </form>
</div>

{% endblock %}
{% block script %}

    <script>
    document.getElementById('date').valueAsDate = new Date()


        function update_total(){
            var quantity = $('#quantity').val()
            var unit_price= $('#unit_price').val()
            if (quantity != ''  && unit_price != ''){

               return $('#total').val(parseInt(Number(quantity) * Number(unit_price)))
            }
            return $('#total').val(0)

        }


        $(".select2bs4").select2({
            theme: "bootstrap4",
        });

    </script>
{% endblock %}