{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                              
                                <input value="{{ request.GET.customer }}" name="customer" placeholder="Name, Phone Number" type="text" class="form-control"/>
                            </div>
 
                            <div class="col-md-3">
                            
                                <select name="area" class="form-control">
                                    <option disabled selected>Select Area</option>
                                    {% for a in area %}
                                    <option value="{{ a.id }}" {% if request.GET.area|stringformat:'s' == a.id|stringformat:'s' %}selected{% endif %}>{{ a.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-2">
                           
                                <button class="btn btn-block btn-secondary">Filter</button>
                            </div>
 
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Customer List</h5>
                            </div>

                            <div class="col-md-2">
                               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                               Create Customer
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body table-responsive">

                        <table id="seller_list" class="table table-borderless table-striped table-hover">
 
                            <tr>
                                <th>ID</th>
                                <th>Name </th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Area</th>
                                <th>Address</th>
                                <th>Balance</th>
                                <th>Transaction</th>

                            </tr>
                            {% for cus in customer %}
                            <tr id="{{ cus.id }}">
                                <td>{{ cus.id }} </td>
                                <td>{{ cus.name }} </td>
                                <td >{{ cus.phone_number }}</td>
                                <td >{{ cus.email }}</td>
                                <td >{{ cus.area.name }}</td>
                                <td >{{ cus.address }}</td>
                                <td >{{ cus.current_balance }}</td>

                                <td >
                                    <a href="{% url 'dashboard:transaction_url' cus.id %}">
                                    <button class="btn btn-primary">Show Transaction</button><a>
                                </td>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
          {% csrf_token %}
      <div class="modal-body">
       
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input name="name" type="text" class="form-control" id="name" required>
            </div>
        </div>
         <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="phone_number" id="phone_number" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Area</label>
            <div class="col-sm-10">
                <select name="area" class="form-control" id="area" required>
                <option value=""> Select Area</option>

                {% for i in area %}
                <option value="{{ i.id }}"> {{ i.name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
         <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
            <textarea name="address" class="form-control" required> </textarea>
            </div>
        </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="suubmit" class="btn btn-primary"> Create</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

function seller_details(seller_id){

        var url = "";
        var data  ={'id': seller_id}
            $.ajax({
                url: url,
                data: data,
                type: "GET",
                success: function (data) {

                    $('#full_name').html(data[0].user__full_name)
                    $('#buisness_name').html(data[0].buisness_name)
                    $('#email').html(data[0].user__user__username)
                    $('#mobile').html(data[0].user__phone_number)
                    $('#p_type').html(data[0].payment_type)
                    $('#last_login').html(data[0].last_login)
                    $('#role').html(data[0].user__permission_role__role_title)

                    if (data[0].bank_payment){
                        $('#wallet_bank').html(data[0].bank_payment.provider)
                        $('#branch').html(data[0].bank_payment.branch)
                        $('#holder_name').html(data[0].bank_payment.holder_name)
                        $('#acc_no').html(data[0].bank_payment.account_number)
                        $('#a_type').html(data[0].bank_payment.account_type)
                        $('#routing_no').html(data[0].bank_payment.routing)  
                    }
                    if (data[0].mobile_payment){
                        $('#wallet_mobile').html(data[0].mobile_payment.provider)
                        $('#mobile_n').html(data[0].mobile_payment.number)
                    }

                    var append_add_html = '<tr id="add"><th scope="col"> Address </th>'
                    for (i = 0; i < data[0].address.length; i++) {
                        append_add_html+='<td id="att_name" class="table-secondary">'+ data[0].address[i].address+' (Primary - '+data[0].address[i].is_primary +')</td>'
                    }
                    append_add_html+= '</tr>'
              
                    $('#add_table tr:last').after(append_add_html);


                    var append_con_html = '<tr id="con"><th scope="col"> Contact Name, Number </th>'
                    for (i = 0; i < data[0].contact.length; i++) {
                        append_con_html+='<td id="att_name" class="table-secondary">Name -'+ data[0].contact[i].name+' Number -'+data[0].contact[i].number+' (Primary - '+data[0].contact[i].is_primary +')</td>'
                    }
                    append_con_html+= '</tr>'
              
                    $('#con_table tr:last').after(append_con_html);

            },
                error: function (data) {
            }
        });
}
</script>
<script>
    function open_confirm_modal(id, sector){
        $("#confirm_sector").val(sector)
        $("#confirm_id").val(id)
        $("#confirmModal").modal('toggle');
    }

function seller_banner_image_click(id){
    $('#banner_image'+ id +'').click()
}


function update_and_preview_banner(inputId, previewId, id_){
            console.log(inputId, previewId, id_)
            var file = $(inputId).get(0).files[0];

            var name= file.name
            var ext = name.split('.').pop().toLowerCase();
            if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1)
            {
            return alert("Invalid Image File");
            }

            var form_data = new FormData();
            form_data.append("image", file);
            form_data.append("id", id_);
            const url = "/update-seller-banner/"
            $.ajax({
            url: url,
            data: form_data,
            contentType: false,
            type: "POST",
            processData: false,
            success: function (data) {
            if(file){
            var reader = new FileReader();

            reader.onload = function(){
                $(previewId).attr("src", reader.result);
            }

            reader.readAsDataURL(file);
            }
            },
            error: function (data) {
            }
            });
            }
</script>
<script src="{% static 'js/custom/delete_row.js' %}"> </script>
<script src="{% static 'js/custom/single_status_change.js' %}"> </script>
<script src="{% static 'js/custom/multi_object_status_change.js' %}"></script>
{% endblock %}