{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>My Deposite List</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
    
                            <table  class="table table-borderless table-striped table-hover">
     
                                <tr>
                                    
                                    <th>ID</th>

                                    <th>Date </th>
                                    <th>Note </th>
                                    <th>Amount </th>
                                    <th>Remove </th>

                                </tr>
                                {% for ar in deposite %}
                                <tr id="row_{{ ar.id }}">
                                    <td>{{ ar.id}} </td>
                                    <td >{{ ar.created_at }}</td>
                                    <td >{{ ar.note }}</td>
                                    <td >{{ ar.amount }}</td>
                                     <td >
                                <i onclick="remove_sell('{{ar.id}}')" style="color:red; cursor:pointer" class="fa fa-trash"></i>
                        
                                </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>

                </div>
                <div class="col-md-5">
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>My Deposite </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <form method="Post">
                                {% csrf_token %}

                                <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Amount</label>
                                  <div class="col-sm-9">
                                        <input  min="1" step="1" oninput="validity.valid||(value='');" name="amount" type="number" class="form-control" id="amount" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Note</label>
                                  <div class="col-sm-9">
                                        <textarea name="note" class="form-control" id="note"> </textarea>
                                  </div>
                                </div>
                                 <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-3 col-form-label">Date</label>
                                  <div class="col-sm-9">
                                        <input id="date" name="date" type="date" class="form-control" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <button type="submit" class="pull-right btn btn-primary">Deposite</button>
                                  </div>
                              </form>
                        </div>
                </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    document.getElementById('date').valueAsDate = new Date()

        $(".select2bs4").select2({
            theme: "bootstrap4",
        });
function remove_sell(id_){
    let text;
if (confirm("Are you sure!") == true) {
      var data  ={'id': id_, sector:4}
              $.ajax({
                url: "/remove/",
                data: data,
                type: "GET",
                success: function (data) {

                    $('#row_'+ data.id +'').remove()
            },
                error: function (data) {
            }
        });
} else {
    return
}
}
</script>
{% endblock %}